[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=false
Name=ImEditor
Path=/usr/share/imeditor
Exec=python main.py
Icon=/usr/share/imeditor/assets/imeditor.png
Comment=Simple & versatile image editor.
