[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=true
Terminal=false
Name=ImEditor
Comment=Simple & versatile image editor.
Path=/usr/bin
Exec=imeditor
Icon=usr/share/pixmaps/imeditor.png
StartupWMClass=imeditor
MimeType=image/bmp;image/x-icon;image/jpeg;image/png;image/webp;
